.blocksWr
    each b in blocks
        .blockItem.mt-4(id=b.id)
            .blockItemTitleWr
                .blockItemType #{b.type}
                .blockItemTitle #{b.Name}
            .blockItemText #{b.BlockText}
