.news
    each n in news
        .newsItem.mb-3(isArchive=n.isArchive newsid=n.id)
            .newsItemTitle #{n.Name}
            .newsItemDate #{n.dt}
            .newsButton.mt-1
                input.scriptBtn(type="button" value="Выбрать")
                input.scriptBtn(type="button" value="Скрипт")
